body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg,#ffd6ec,#ffeaf6);
  margin: 0;
  padding: 30px;
}

h1 {
  text-align: center;
  color: #c2185b;
  margin-bottom: 40px;
}

.grid-malla {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

.semestre {
  background: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.semestre h3 {
  text-align: center;
  margin-bottom: 15px;
  color: #ad1457;
}

.curso {
  background: #f8bbd0;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  transition: 0.2s;
}

.curso:hover {
  transform: scale(1.05);
}

.aprobado {
  background: #e91e63;
  color: white;
}

.bloqueado {
  background: #fce4ec;
  opacity: 0.5;
  cursor: not-allowed;
}
